<a href="https://colab.research.google.com/github/arpan-physics-ju/arpanpurkait-python-ju/blob/main/ISI_IDEAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# First Python Code
print("Hello World \u274C Hello Jadavpur! \u2714")

Hello World ❌ Hello Jadavpur! ✔

In [ ]:
# Comment

# This is single line comment

# This is multiple line comment
# By using ctrl + Backslash

''' This is multiple line comment
 By using 3 invited comma '''

' This is multiple line comment \n By using 3 invited comma '

In [ ]:
arpan = 121

print(arpan)

121

In [ ]:
# Integer Variable
i=5
print(i,type(i)) # type() is used to determine the datatype of a variable

# Float Variable
pi = 3.14
print(pi,type(pi))

# String Variable
name = 'Arpan'
roll = 'oo2320701045'
print(name,type(name))
print(roll,type(roll))

'''
A -> 0
r -> 1
p -> 2
a -> 3
n -> 4
'''
# Boolean Variable
IamStudent = True
print(IamStudent,type(IamStudent))

5 <class 'int'>
3.14 <class 'float'>
Arpan <class 'str'>
oo2320701045 <class 'str'>
True <class 'bool'>

In [ ]:
# Type Conversion

# Implicit Type Conversion (We don't give force)
i = 3
pi = 3.14
c = i - pi
print(c,type(c))

# Explicit Type Conversion (We forced to convert)
pi = int(pi)
print(pi,type(pi))

IamStudent = True
print(IamStudent,type(IamStudent))
IamStudent = int(IamStudent)
print(IamStudent,type(IamStudent))

-0.14000000000000012 <class 'float'>
3 <class 'int'>
True <class 'bool'>
1 <class 'int'>

In [ ]:
# Indentation

if True:
  print("Indentation is Important")
  print("It is not just for better understanding in Python")
  print("If we want to denote some code under some statement")
  print("In this case we use intendation")
else:
  print("Some Statement")

Indentation is Important
It is not just for better understanding in Python
If we want to denote some code under some statement
In this case we use intendation

In [ ]:
# Addition, Substraction, Multiplication, Division

a = 20
b = 5
c = 0

print("Addition",a+b)
print("Substraction",a-b)
print("Multiplication",a*b)
print("Division",a/b)   # Implicit type conversion

Addition 25
Substraction 15
Multiplication 100
Division 4.0

In [ ]:
print(a/c) # ZeroDivisionError: division by zero

ZeroDivisionError: division by zero

In [ ]:
# ZeroDivisionError
# try-except block

try:
  print(a/c)
except ZeroDivisionError:
  print("Try to reach infinity...")

Try to reach infinity...

In [ ]:
# String Operation
first_name = "Issac"
last_name = "Newton"

# Concatination: adding two or more string into a single string
full_name = first_name + " " + last_name
print("Full name is ",full_name)
print("Full name is",full_name * 5) # Repeating string
print(("Full name is " + full_name + "\n") * 5) # Repeating string
print("Length of full name is", len(full_name)) # Length of string

# Substring
print("Substring example 1:", full_name[:5])
print("Substring example 2:", full_name[0:5])
print("Substring example 3:", full_name[0:4])
print("Substring example 4:", full_name[2:5])
print("Substring example 5:", full_name[2:])
print("Substring example 6:", full_name[:])
print("Substring example 7:", full_name[6])

# Upper case, Lower case and title case
upper_case = full_name.upper()
lower_case = full_name.lower()
print("Upper case example:", upper_case)
print("Lower case example:", lower_case)
title_case = lower_case.title()
print("Title case example:", title_case)

# Split
split_name = full_name.split()
print("Split string:", split_name)  # List
print(type(split_name))

Full name is  Issac Newton
Full name is Issac NewtonIssac NewtonIssac NewtonIssac NewtonIssac Newton
Full name is Issac Newton
Full name is Issac Newton
Full name is Issac Newton
Full name is Issac Newton
Full name is Issac Newton

Length of full name is 12
Substring example 1: Issac
Substring example 2: Issac
Substring example 3: Issa
Substring example 4: sac
Substring example 5: sac Newton
Substring example 6: Issac Newton
Substring example 7: N
Upper case example: ISSAC NEWTON
Lower case example: issac newton
Title case example: Issac Newton
Split string: ['Issac', 'Newton']
<class 'list'>

In [56]:
# Conditional Statement
'''
if condition:
  statement-1
elseif condition:
  statement-2
else:
  statement-3
'''

physics = 97
math = 98
chemistry = 87

if (physics >= 90 and math >= 90 and chemistry >= 90):
  print("Grade A")
elif (physics >= 80 and math >= 80 and chemistry >= 80):
  print("Grade B")
elif (physics >= 70 and math >= 70 and chemistry >= 70):
  print("Grade C")

Grade B